  <svg width="311" height="300" viewBox="0 0 311 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>Frame 3</title>
<desc>Created using Figma</desc>
<g id="Canvas" transform="translate(-9910 3154)">
<clipPath id="clip-0" clip-rule="evenodd">
<path d="M 9910 -3154L 10221 -3154L 10221 -2854L 9910 -2854L 9910 -3154Z" fill="#FFFFFF"/>
</clipPath>
<g id="Frame 3" clip-path="url(#clip-0)">
<g id="ill-coffee-hot">
  <g id="flame2">
<g class="outer">
<use xlink:href="#path4_fill" transform="translate(10022 -3058)" fill="#FFBE78"/>
</g>
<g class="inner">
<use xlink:href="#path5_fill" transform="translate(10028.4 -3042.99)" fill="#FFE4A1"/>
</g>
</g>
<g id="flame4">
<g class="outer">
<use xlink:href="#path0_fill" transform="translate(10042 -3087)" fill="#FF7673"/>
</g>
<g class="inner">
<use xlink:href="#path1_fill" transform="translate(10057.5 -3071.3)" fill="#FFE4A1"/>
</g>
</g>
<g id="flame1">
<g class="outer">
<use xlink:href="#path2_fill" transform="translate(9984 -3099)" fill="#FF7673"/>
</g>
<g class="inner">
<use xlink:href="#path3_fill" transform="translate(10001.6 -3057.15)" fill="#FFE4A1"/>
</g>
</g>

<g id="flame3">
<g class="outer">
<use xlink:href="#path6_fill" transform="translate(10083 -3095.88)" fill="#FFBE78"/>
</g>
<g class="inner">
<use xlink:href="#path7_fill" transform="translate(10088.4 -3080.19)" fill="#FFE4A1"/>
</g>
</g>
<g id="mug">
<g id="Mug Base">
<g id="Vector">
<use xlink:href="#path8_fill" transform="translate(9973 -3048.89)" fill="url(#paint8_linear)"/>
</g>
</g>
<g id="Primary Shade">
<use xlink:href="#path9_fill" transform="translate(9977.37 -3017.2)" fill="url(#paint9_linear)"/>
</g>
<g id="Secondary Shade">
<use xlink:href="#path10_fill" transform="translate(10011.6 -3002.04)" fill="url(#paint10_linear)"/>
</g>
<g id="Highlight">
<g id="Vector">
<use xlink:href="#path11_fill" transform="translate(10110.2 -3041.58)" fill="#FFFFFF"/>
</g>
</g>
</g>
</g>
</g>
</g>
<defs>
<linearGradient id="paint8_linear" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(178.03 -210.196 211.162 177.216 -98.3579 116.913)">
<stop offset="0" stop-color="#FFD8BF"/>
<stop offset="1" stop-color="#FFF6EE"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(33.0332 143.722 -144.382 32.8822 98.1722 -5.61558)">
<stop offset="0" stop-color="#FFE5D4" stop-opacity="0"/>
<stop offset="1" stop-color="#E89980"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.0549 102.028 -102.496 28.9221 62.9257 3.1053)">
<stop offset="0" stop-color="#FFE5D4" stop-opacity="0"/>
<stop offset="1" stop-color="#FCC8B8"/>
</linearGradient>
<path id="path0_fill" d="M 0.868045 53.2376C -5.99085 20.5536 30.0493 0 30.0493 0C 30.0493 0 47.694 19.0588 50.6973 51.7353C 54.2863 90.8656 6.14267 78.3615 0.868045 53.2376Z"/>
<path id="path1_fill" d="M 0.173626 41.152C -1.85363 17.3622 14.5409 0 14.5409 0C 14.5409 0 31.5661 22.6052 28.9306 40.1468C 25.428 63.5031 1.48384 56.5149 0.173626 41.152Z"/>
<path id="path2_fill" d="M 0.404275 71.7507C -3.78539 22.5267 25.9703 0 25.9703 0C 25.9703 0 65.3629 33.3716 59.9156 69.6655C 52.6587 117.978 3.11104 103.542 0.404275 71.7507Z"/>
<path id="path3_fill" d="M 0.168699 30.0045C -1.58075 9.42849 10.8531 0 10.8531 0C 10.8531 0 27.3189 13.9503 25.0401 29.1188C 22.0105 49.3286 1.29871 43.2933 0.168699 30.0045Z"/>
<path id="path4_fill" d="M 0.114493 32.3892C -1.0056 21.7663 6.32833 22.0947 11.8188 0.00161916C 11.8621 -0.17242 33.4639 13.7047 30.767 31.4764C 27.1767 55.1325 1.8213 48.6044 0.114493 32.3892Z"/>
<path id="path5_fill" d="M 0.128004 22.7465C -1.20544 7.14215 8.31867 0 8.31867 0C 8.31867 0 20.9397 10.5802 19.1929 22.0865C 16.8694 37.4019 1.00141 32.8244 0.128004 22.7465Z"/>
<path id="path6_fill" d="M 0.58552 52.0759C -0.867348 39.9866 -1.29157 21.6752 20.355 0.000525129C 20.509 -0.152693 27.717 33.26 40.4099 51.037C 56.9545 74.2102 2.80424 70.5293 0.58552 52.0759Z"/>
<path id="path7_fill" d="M 3.52995 42.4861C -7.98788 20.1799 12.3673 0 12.3673 0C 12.3673 0 17.9986 28.4013 28.2963 41.7313C 39.6302 56.4065 8.9585 53.0021 3.52995 42.4861Z"/>
<path id="path8_fill" d="M 203.836 28.4817C 193.486 29.0871 184.292 34.1433 177.493 42.006L 173.288 18.7468C 172.759 15.8046 171.652 12.9951 170.032 10.4786C 168.412 7.96205 166.31 5.78786 163.845 4.08017C 161.381 2.37248 158.603 1.16473 155.67 0.525895C 152.736 -0.112942 149.705 -0.170355 146.75 0.356938L 18.8185 23.1677C 12.852 24.2352 7.55562 27.6178 4.09403 32.5716C 0.632443 37.5255 -0.710987 43.645 0.359144 49.5847L 13.3786 121.978C 22.3887 172.054 70.6337 204.193 120.35 192.47C 156.195 184.005 182.103 154.43 187.017 119.564C 193.688 123.989 201.429 126.328 209.542 125.853C 232.311 124.523 249.483 101.649 247.899 74.761C 246.314 47.8731 226.586 27.1514 203.836 28.4817ZM 229.597 75.6429C 230.483 90.6844 220.88 103.48 208.142 104.224C 198.599 104.78 190.009 98.4163 185.928 88.8645L 183.454 75.1122C 184.006 61.5095 193.118 50.4479 204.932 49.7566C 217.651 49.0167 228.696 60.6014 229.582 75.6429L 229.597 75.6429Z"/>
<path id="path9_fill" d="M 21.7972 1.16258C 22.0268 1.12955 22.2417 1.03067 22.4157 0.878026C 22.5897 0.725385 22.7153 0.525596 22.7771 0.303069C 24.3501 -5.9938 35.5939 87.555 48.4031 120.575C 63.525 159.567 89.5978 162.968 89.5978 162.968C 89.5978 162.968 76.4394 161.899 69.1225 159.407C 61.4376 156.791 41.2064 149.003 27.0343 124.772C 12.1565 99.3303 0.462225 -0.960044 0.00421457 3.19178C -0.0110832 3.37224 0.0153888 3.5538 0.0815959 3.72248C 0.147803 3.89117 0.251983 4.0425 0.386127 4.16485C 0.520272 4.28719 0.68081 4.37729 0.855404 4.42822C 1.03 4.47914 1.214 4.48955 1.39326 4.45863L 21.7972 1.16258Z"/>
<path id="path10_fill" d="M 0 1.26433C 0 1.26433 11.195 91.0536 27.9724 118.524C 43.6536 144.202 59.5939 147.565 59.5939 147.565L 64.0989 147.64C 64.0989 147.64 41.9492 141.089 28.8284 108.498C 14.1871 72.1219 4.9405 -5.17829 5.53366 0.27402L 0 1.26433Z"/>
<path id="path11_fill" d="M 3.61576 8.45281C 6.30375 8.34444 8.69517 7.36908 11.4057 7.45503C 13.2839 7.48987 15.1253 7.97986 16.7704 8.88256C 17.6116 9.42104 18.3439 10.1119 18.9291 10.9192C 20.4082 13.0905 21.0051 14.8506 21.6358 17.459C 21.8611 18.397 22.0112 19.3275 22.1914 20.2842C 22.3529 21.1699 22.0938 19.3686 22.1914 20.3141C 22.1914 20.4262 22.214 20.5383 22.2252 20.6467C 22.3942 22.6572 23.8283 24.3837 25.9794 24.3837C 27.879 24.3837 29.9025 22.6684 29.7336 20.6467C 29.3244 15.7475 27.9091 10.4559 24.932 6.47967C 22.0676 2.6567 17.9305 0.687288 13.2039 0.126735C 11.0355 -0.0971058 8.84649 -0.0241781 6.69794 0.343483C 5.87953 0.466805 5.07238 0.63123 4.26523 0.80687C 3.9676 0.854515 3.67303 0.919402 3.383 1.0012C 2.69223 1.24037 4.17513 0.952618 3.61951 0.97504C -1.19335 1.16936 -1.21963 8.64714 3.61951 8.44907L 3.61576 8.45281Z"/>
</defs>
</svg>
