.device__selection {
  img {
    align-self: center;
    height: auto;
    min-width: 52px;
    max-width: 47%;
  }

  ul {
    flex-direction: row;
    display: flex;
  }

  li {
    background-color: #f5f5f5;
    display: flex;
    flex-basis: 33.333%;
    justify-content: center;
    text-align: center;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  li:not(.device-selected) {
    opacity: 0.5;
  }

  a {
    align-self: flex-end;
    color: $c-text;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: rem(23) rem(0);

    text-decoration: none;
    @include breakpoint(min-width 1440px) {
      flex-direction: row;
      justify-content: center;
      h2 {
        margin-left: 4%;
        margin-bottom: 3vh;
        align-self: center;
      }
    }
  }

  h2 {
    @include fluid-size("font-size", 14px, 36px);
    margin-top: rem(22);
  }

  .device-selected {
    background-color: $c-pink;
    box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);

    a {
      color: white;
    }

    position: relative;

    &:after,
    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-top-color: $c-pink;
      border-width: 15px;
      margin-left: -15px;
    }
    border-top-color: $c-pink;
  }
}

.device__problems {
  article {
    border-bottom: 1px solid lighten($c-text, 30%);
  }
  header {
    @include clearfix();
    padding: 1rem 0;
    width: rd(355, 415);
    max-width: 600px;
    margin: 0 auto;
    &:hover,
    &:focus {
      h3 {
        color: $c-pink;
        font-weight: 600;
      }
    }
  }

  h3 {
    @include fluid-size("font-size", 20px, 24px);
    float: left;
    font-weight: 400;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    font-family: $f-body;
  }

  button {
    float: right;
    border: none;
    background: none;
  }

  @include breakpoint(min-width 950px) {
    ul {
      @include clearfix();
      width: 95%;
      margin: 0 auto;
    }

    li {
      float: left;
      width: 50%;
    }
  }

  @include breakpoint(min-width 1024px) {
    padding: rem(85) 0;
  }
}

.problem__solutions {
  position: relative;
  background-color: #f5f5f5;
  margin: 0 auto;

  img,
  svg {
    max-width: 100%;
    width: rd(340, 415);
    margin: 0 auto;
    display: block;
  }
}

.__inactive {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

@keyframes show {
  from {
    transform: translate(0px, -100px);
    opacity: 0;
  }

  to {
    transform: translate(0px, 0px);
    opacity: 1;
    height: 100%;
  }
}

.shown {
  animation: show 0.5s both ease-in-out;
}
