$range-track-color: #DBDBDB;
$range-handle-color-center: #FF6363;
$range-handle-size: 41px;
$range-handle-size-big: 67px;
$range-handle-size-center: 0.45vw;

@mixin flex-centered {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.left-axis {
  @include fluid-sizeFULL('left', 0px, 140px);
}

.right-axis {
  @include fluid-sizeFULL('right', 0px, 140px);
}


.roasts {
  display: flex;
  flex-direction: column;
  .roasts__slider-wrapper {
    display: flex;
    flex-direction: column;
    order: 2;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    align-items: center;
    .slider-axis {
      display: flex;
      justify-content: space-between;
      @include breakpoint(300px 1000px) {
        justify-content: space-around;
      }
      align-items: center;
      width: 100%;
      margin-bottom: 3%;
      span {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @include fluid-sizeFULL('width', 0px, 120px);
        height: 15px;
        span {
          width: 50%;
          border-right: solid 2.3px $range-track-color;
        }
        &.axial-last {
          border: none;
        }
      }
      img {
        display: block;
        max-width: 31px;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint($large-screens) {
          display: none;
        }
      }
      .axial-text {
        border: none;
        color: $range-track-color;
        display: none;
        width: initial;
        height: initial;
        @include breakpoint($large-screens) {
          @include fluid-size('font-size', 14px, 28px);
          display: flex;
          position: relative;
        }
      }
    }
    .slider {
      display: flex;
      flex-direction: row;
      width: 64%;
      @include breakpoint($large-screens) {
        width: 90%;
      }
      img {
        display: none;
        align-self: center;
        margin-left: 1.2vw;
        margin-right: 1.2vw;
        @include breakpoint($large-screens) {
          display: block;
        }
      }
      .slider__range {
        align-self: center;
        -webkit-appearance: none;
        overflow: visible;
        width: 100%;
        height: 1em;
        background: $range-track-color;
        border-radius: 5px;
        outline: none;
        // overflow: hidden;
        background-color: #9a905d;
                // handle
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background: radial-gradient(circle farthest-corner at center center, $range-handle-color-center 20%, white 22%);
          border-radius: 50px;
          box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.3);
          @include fluid-size('width', $range-handle-size, $range-handle-size-big);
          @include fluid-size('height', $range-handle-size, $range-handle-size-big);
        }

        // track
        &::-webkit-slider-runnable-track {
          // height: 1.5vw;
          // -webkit-appearance: none;
          // color: #13bba4;
          // margin-top: -1px;
        }
      }
      .slider__range::before {
        -webkit-appearance: none;
        overflow: hidden;
        color: #13bba4;
      }
    }
    @include breakpoint($large-screens) {
      order: -1;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  .roasts__view {
    display: flex;
    flex-direction: column;
    order: 1;
    .view__image-wrapper {
      display: block;
      margin-top: 5vh;
      margin-bottom: 2vh;
      margin-left: auto;
      margin-right: auto;
    }

    .view__text-wrapper {
      text-align: center;
      h2 {
        @include fluid-size('font-size', 24px, 36px);
        color: $c-brown;
        font-weight: 400;
        margin-bottom: 1.4vw;
      }
      p {
        @include fluid-size('font-size', 14px, 18px);
        margin-bottom: 0.7vw;
        strong {
          font-weight: 700;
        }
      }
    }

    @include breakpoint($large-screens) {
      order: 2;
      flex-direction: row;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 5%;
      .view__image-wrapper {
        margin: 0;
        margin-left: 20%;
      }
      .view__text-wrapper {
        margin-left: auto;
        margin-right: auto;
      }

    }
  }
  .roasts__brands {
    order: 3;
    .brands__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .brand__wrapper {
      .brand__text-wrapper {
        color: white;
        margin-top: -60%;
        margin-bottom: 60%;
        text-align: center;
      }
    }
  }

  h3 {
    font-family: $f-body;
    @include fluid-size('font-size', 10px, 14px);
    margin-bottom: 5px;
  }
}

.screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}