<header class="global-header">
  <h1>You vs. The Machine</h1>
  <p>The age-old struggle ends now.
  Choose from the list of the problems,
  and we'll supply the hacks to defeat your machine.</p>
</header>