<%# <title>GroundRulesCo</title>
<meta name="description" content="Ground Rules is a website dedicated to helping tired people make good coffee with less effort.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="GroundRulesCo">
<meta itemprop="description" content="Ground Rules is a website dedicated to helping tired people make good coffee with less effort.">
<!-- Schema image tag must be at least 180x120px -->
<meta itemprop="image" content="http://www.example.com/image.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@handle">
<meta name="twitter:title" content="GroundRulesCo">
<meta name="twitter:description" content="Ground Rules is a website dedicated to helping tired people make good coffee with less effort.">
<meta name="twitter:creator" content="@handle">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="http://www.example.com/image.html">

<!-- Open Graph data -->
<meta property="og:title" content="GroundRulesCo" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://example.com/" />
<!-- Open graph image should be 1200 x 1200 (more info here: http://www.h3xed.com/web-and-internet/how-to-use-og-image-meta-tag-facebook-reddit) -->
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="Ground Rules is a website dedicated to helping tired people make good coffee with less effort."/>
<meta property="og:site_name" content="Ground Rules" />  %>