<main class="home">
  <header class="home__header"><a href="#" class="home__logo">ground rules</a></header>
  <%= render 'svg/home-ill-cup' %>
  <section class="home__section">
      <h1>Created for tired people, by slightly less tired people.</h1>
      <nav class="home__nav">
        <ul>
          <li><a href="">Find Your Roast</a></li>
          <li><a href="">Master Your Machine</a></li>
        </ul>
      </nav>
      <div class="home__body-text">
        <p>When you’re tired, you try making coffee. But trying, as the laws of nature decree, only makes us more tired.</p>
        <p>Suggestion: stop trying. Learn how to get good coffee in a series of easy swipes and effortless taps.</p>
      </div>
  </section>
</main>