<main class="home">
  <div class="home__inner">
    <header class="home__header"><h1><%= link_to 'ground rules', root_path, class: 'home__logo' %></h1></header>
      <div class="home__svg-container">
      <%= render partial: 'shared/svg/home-ill-cup' %>
      </div>
    <section class="home__section">
      <div class="home__inner-section">
        <h2>Created for tired people, by slightly less tired people.</h2>
        <nav class="home__nav">
          <%= link_to 'Find Your Roast', roasts_path %>
          <%= link_to 'Master Your Machine', devices_path %>
        </nav>
        <div class="home__body-text">
          <p>Let's face it. You're tired. You've always been tired. You've tried making coffee, but that's the rub: you have to <em>try</em> to make coffee.</p>
          <p>So, here are the rules — the rules for getting good coffee, with as little effort as possible.</p>
        </div>
      </div>
    </section>
  </div>
</main>
