<main class="error">
  <div class="error__inner">
    <%= render partial: 'shared/icons/ill-error' %>
    <div class="error__text">
      <h2>404</h2>
      <p>The page you're looking for is too hot to consume. Try blowing on your screen?</p>
      <a href="/"> Back to Home</a>
    </div>
  </div>
</main>