<main class="error">
  <div class="error__inner">
    <%= render partial: 'shared/icons/ill-error' %>
    <div class="error__text">
      <h2>500</h2>
      <p>We'll fix this once we've had our coffee.</p>
      <a href="/"> Back to Home</a>
    </div>
  </div>
</main>