.alt__footer {
  p {
    float: left;
  }
  .footer__logo {
    float: right;
  }
  .footer__wrapper {
    max-width: 100%;

    @include breakpoint(min-width 1440px) {
      width: 95%;
    }
  }
}

.alt__wrapper {
  @include clearfix();
  max-width: 800px;
  display: flex;
  min-height: 60px;
  align-items: center;

  @include breakpoint(min-width 900px) {
    float: right;
  }

  &.footer__wrapper {
    max-width: 100%;

    @include breakpoint(min-width 1440px) {
      width: 95%;
    }
  }

  @include breakpoint(max-width 1024px) {
    float: none;
    justify-content: center;
    margin: 0 auto;
  }
}
