.global-nav {
  background-color: $c-blue;
  box-shadow: 0px 2px 22px rgba(black, 0.5);
  padding: 20px;
  position: relative;
  z-index: 3;

  a {
    @include fluid-size('font-size', 16px, 27px);
    color: white;
    font-family: $f-logo;
    margin-left: 4%;
    outline-color: orange;
    text-decoration: none;
  }

  a.nav-item {
    @include fluid-size('font-size', 10px, 21px);
    float: right;
    font-family: $f-body;
    margin: 0.7% 4% 0 3%;

    @include breakpoint($small-screen) {
      margin-top: 0.2%;
    }

    &.selected {
      border-bottom: 5px solid $c-pink;
      padding-bottom: 2px;
      
      @include breakpoint($large-screens) {
         padding-bottom: 5px;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.global-header {
  @include fluid-size('font-size', 24px, 70px);
  background-image: url("global-header-background.svg");
  color: white;
  font-family: $f-heading;
  font-weight: 500;
  height: 15%;
  overflow: hidden;
  padding: 7% 4%;
  position: relative;
  text-align: center;
  z-index: 2;

  h1 {
    margin-bottom: 2%;

    @include breakpoint($small-screen) {
      margin-bottom: 1%;
    }
  }

  p {
    @include fluid-size('font-size', 12px, 24px);
    display: block;
    font-family: $f-body;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;

    @include breakpoint($small-screen) {
      max-width: 60%;
    }
  }
}