.global-nav {
  background-color: $c-blue;
  box-shadow: 0px 2px 22px rgba(black, 0.5);
  padding: 20px 0;
  position: relative;
  z-index: 3;

  a {
    @include fluid-size('font-size', 16px, 27px);
    color: white;
    font-family: $f-logo;
    outline-color: orange;
    text-decoration: none;
    &:first-of-type {
      &:hover,
      &:focus {
        border-bottom: 2px solid white;
        border-radius: 2px;
      }
    }
  }

  a.nav-item {
    @include fluid-size('font-size', 10px, 21px);
    float: right;
    font-family: $f-body;
    margin: 0.7% 4% 0 3%;

    &:nth-of-type(2) {
      margin-right: 0;
    }

    @include breakpoint($small-screen) {
      margin-top: 0.2%;
    }

    &.selected {
      border-bottom: 5px solid $c-pink;
      padding-bottom: 2px;

      @include breakpoint($large-screens) {
        padding-bottom: 5px;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}
.nav__wrapper {
  width: 90%;
  margin: 0 auto;
  @include breakpoint(min-width 1440px) {
    max-width: rd(1800, 2360);
  }
}
.global-header {
  @include fluid-size('font-size', 24px, 70px);
  background-image: asset_url("global-header-background.svg");
  color: white;
  font-family: $f-heading;
  font-weight: 500;
  overflow: hidden;
  padding: 7% 4%;
  position: relative;
  text-align: center;
  z-index: 2;

  h1 {
    margin-bottom: 2%;

    @include breakpoint($small-screen) {
      margin-bottom: 1%;
    }
  }

  p {
    @include fluid-size('font-size', 12px, 24px);
    display: block;
    font-family: $f-body;
    font-weight: 400;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;

    @include breakpoint($small-screen) {
      max-width: 60%;
    }
  }
}
