#fallingkcup {
  animation: fall 3s both linear infinite;
  transform-origin: 138px 182px;
}

@keyframes fall {
  0% {
    transform: translate(25%, 0);
  }

  20% {
    transform: translate(25%, 400px) rotate(75deg);
  }

  30% {
    transform: translate(10%, 370px) rotate(75deg);
    opacity: 1;
  }

  40% {
    transform: translate(0%, 360px) rotate(75deg);
    opacity: 0;
  }

  66% {
    transform: translate(-10%, 450px) rotate(75deg);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }

  100% {
    transform: translate(5%, 900px);
    opacity: 0;
  }
}

@keyframes vinegarShake {
  0% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  10% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  20% {
    transform: translate(0px, 250px) rotate(0deg);
  }
  30% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  40% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }
  50% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  60% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  70% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  80% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  90% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 250px) rotate(0deg);
  }
}

///

#bubble1 {
  left: 15px;
  position: absolute;
  top: 43px;
  animation: bubbleClockwise 4s linear infinite;
  transform: rotate(45deg) translateX(150px);
}
#bubble2 {
  animation: bubbleClockwise 7s linear infinite;
  transform: rotate(45deg) translateX(150px);
}

#bubble3 {
  animation: bubbleClockwise 4s linear infinite reverse;
  transform: rotate(45deg) translateX(150px);
}

@keyframes bubbleClockwise {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

//

#vinegarBottle {
  animation: vinegarShake 3s 4s both ease infinite;
  transform-origin: 0px 253px;
}

@keyframes waterShake {
  0% {
    transform: translate(138px, 80px) rotate(0deg);
  }

  10% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  20% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  30% {
    transform: translate(180px, -125px) rotate(0deg);
  }
  40% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  50% {
    transform: translate(180px, -125px) rotate(10deg);
  }
  60% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  70% {
    transform: translate(180px, -125px) rotate(10deg);
  }
  80% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  90% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  100% {
    transform: translate(138px, 80px) rotate(0deg);
  }
}

@keyframes vinegarShake {
  0% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  10% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  20% {
    transform: translate(0px, 250px) rotate(0deg);
  }
  30% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  40% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }
  50% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  60% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  70% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  80% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  90% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 250px) rotate(0deg);
  }
}

///

#waterBottle {
  animation: waterShake 3s 4s both ease infinite;
  transform-origin: 138px 182px;
}

#vinegarBottle {
  animation: vinegarShake 3s 4s both ease infinite;
  transform-origin: 0px 253px;
}

@keyframes waterShake {
  0% {
    transform: translate(138px, 80px) rotate(0deg);
  }

  10% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  20% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  30% {
    transform: translate(180px, -125px) rotate(0deg);
  }
  40% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  50% {
    transform: translate(180px, -125px) rotate(10deg);
  }
  60% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  70% {
    transform: translate(180px, -125px) rotate(10deg);
  }
  80% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  90% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  100% {
    transform: translate(138px, 80px) rotate(0deg);
  }
}

@keyframes vinegarShake {
  0% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  10% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  20% {
    transform: translate(0px, 250px) rotate(0deg);
  }
  30% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  40% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }
  50% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  60% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  70% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  80% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  90% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 250px) rotate(0deg);
  }
}

// cold coffee
@keyframes up-and-down {
  0% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(50px, -40px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}

.ill-coffee-cup {
  #thermometer {
    animation-name: up-and-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

// coffee makes me sleeeeeeeeeeep
@keyframes topZ {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes middleZ {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes bottomZ {
  0% {
    transform: rotate(-50deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}

#Ztop {
  animation-name: topZ;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

#Zmiddle {
  animation-name: middleZ;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

#Zbottom {
  animation-name: bottomZ;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

//
