<footer class="footer__global">
  <div class="footer__wrapper alt__footer">
    <div class="alt__wrapper">
      <p>Made by Viget’s intern class of 2017.</p>
      <a href="http://www.viget.com" class="footer__logo">
       <%= render partial: 'shared/svg/footer-viget-logo' %>
      </a>
    </div>
  </div>
</footer>
