<footer class="footer__global">
  <div class="footer__wrapper">
    <div class="footer__text">
      <p>An exploration by Viget’s intern class of 2017.</p>
      <small>&copy; Ground Rules 2017. All rights reserved.</small>
    </div>
    <a href="http://www.viget.com" class="footer__logo">
      <%= render 'shared/svg/footer-viget-logo' %>
    </a>
  </div>
</footer>