  <footer class="footer__global">
    <p>An exploration by Viget’s intern class of 2017.</p>
    <small>&copy; Ground Rules 2017. All rights reserved.</small>
    <a href="http://www.viget.com" class="footer__logo">
      <%= render 'shared/svg/footer-viget-logo' %>
    </a>
  </footer>