  <footer class="footer__global">
    <small>An exploration by Viget’s intern class of 2017.
  	&copy; Ground Rules 2017. All rights reserved.</small>
    <a href="http://www.viget.com"><%= image_tag("vigetLogo.png") %></a>
  </footer>