<% url_path = request.fullpath.split("/") %>
<nav class="global-nav">
    <a href="#">ground rules</a>
    <a href="#" class="nav-item<% if url_path[0] == 'machines' %> selected <% end %>" id="machines">Machines</a>
    <a href="#" class="nav-item<% if url_path[0] == 'roasts' %> selected <% end %>" id="roasts">Roasts</a>
</nav>